.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardContainer {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin: 15px;
    max-width: 600px;
}

.cardContainer .card {
    margin: 0 10px;
}
